<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h2>Roll the Dice!!!</h2>

<a href="/roll-dice/1">1</a>
<a href="/roll-dice/2">2</a>
<a href="/roll-dice/3">3</a>
<a href="/roll-dice/4">4</a>
<a href="/roll-dice/5">5</a>
<a href="/roll-dice/6">6</a>

<h2 th:text="${guess}"></h2>
<h2 th:text="${roll}"></h2>
<h2 th:text="${message}"></h2>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>